<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="right">
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchString">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="filterBook()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-lg-6">-->
            <!--<div class="input-group">-->
                <!--<div class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Action-->
                    <!--</button>-->
                    <!--<div class="dropdown-menu">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                        <!--<div role="separator" class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Separated link</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<input type="text" class="form-control" aria-label="Text input with dropdown button">-->
            <!--</div>-->
        <!--</div>-->
    <!--<div class ="row">-->
    <!--<div class="col-lg-2">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" aria-label="Text input with dropdown button">-->
            <!--<div class="input-group-btn">-->
                <!--<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Action-->
                <!--</button>-->
                <!--<div class="dropdown-menu dropdown-menu-right">-->
                    <!--<a class="dropdown-item" href="#">Action</a>-->
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <!--<div role="separator" class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Separated link</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

    <h1 align="center">All available books</h1>


<p align="right"><button type="button" class="btn btn-primary" ng-click="redirect()">Add book</button></p>
<table class="table table-hover" >
    <tr align="center">
        <td><b>Title</b></td>
        <td><b>Genre</b></td>
        <td><b>Authors</b></td>
        <td><b>Pages</b></td>
        <td><b>Description</b></td>
        <td></td>
    </tr>
    <tr ng-repeat="book in books" align="center">
        <td>{{book.title}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.authors}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.description}}</td>
        <td align="right">
            <a data-toggle="modal" ng-click="setDataForUpdate(book)" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp&nbsp
            <a ng-click="removeBook(book.idBook)"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>

</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update book</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title">title</label>
                        <input type="text" class="form-control" id="title"  placeholder="Enter title" ng-model="currentBook.title">
                    </div>
                    <div class="form-group">
                        <label for="title">Genre</label>
                        <input type="text" class="form-control" id="genre"  placeholder="Enter genre" ng-model="currentBook.genre">
                    </div>
                    <div class="form-group">
                        <label for="title">Authors</label>
                        <input type="text" class="form-control" id="author"  placeholder="Enter author" ng-model="currentBook.authors">
                    </div>
                    <div class="form-group">
                        <label for="title">Pages</label>
                        <input type="text" class="form-control" id="pages"  placeholder="Enter author" ng-model="currentBook.pages">
                    </div>
                    <div class="form-group">
                        <label for="title">Description</label>
                        <input type="text" class="form-control" id="description"  placeholder="Enter author" ng-model="currentBook.description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="updateBook(currentBook.idBook)" data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>