<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<h1>Add new book</h1>
<form ng-submit="addBook()" name="form" role="form">
    <div class="form-group">
        <label for="bookTitle">Title:</label>
        <input maxlength="25" type="text" class="form-control" id="bookTitle" name="bookTitle" ng-model="bookTitle" required>
        <span class="error" ng-show="form.bookTitle.$dirty && form.bookTitle.$error.required" >Title is required</span>
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <input maxlength="30" type="text" class="form-control" id="genre" ng-model="bookGenre" name="bookGenre" required>
        <span class="error" ng-show="form.bookGenre.$dirty && form.bookGenre.$error.required" >Title is required</span>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input maxlength="30" type="text" class="form-control" id="author" ng-model="bookAuthor"  name="bookAuthor" required>
        <span class="error" ng-show="form.bookAuthor.$dirty && form.bookAuthor.$error.required" >Title is required</span>
    </div>
    <div class="form-group">
        <label for="pages">Pages:</label>
        <input maxlength="4" type="number" class="form-control" id="pages" ng-model="pages" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input maxlength="80" type="text" class="form-control" id="description" ng-model="bookDescription" name="bookDescription" required>
        <span class="error" ng-show="form.bookDescription.$dirty && form.bookDescription.$error.required" >Title is required</span>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
</form>
</body>
</html>